include btnGreen.pug

mixin Banner
    p.tool Высокодоходный инструмент
    p.together совместно с
        img.roboForex(src="../assets/images/roboForex.png", alt="")
        span и
        img(src="../assets/images/fullLogo.png", alt="")
    p.dohod Доход
        span.do  до
        span 10% в день
    p.vivod Вывод средств в любой момент!
    .podrobnee
        +BtnGreen("ПОДРОБНЕЕ")
    img.iphone(src="../assets/images/IphoneX.png", alt="")
    img.clouds(src="../assets/images/Clouds.png", alt="")
    