mixin Protection()
    section.protection 
        p.title Надежная защита вложений
        +ProtectCard("../assets/images/5-10percent.png", "5-10% в день", "Даже в период сильных колебаний на рынке, когда роботы сливают депозиты, мы зарабатываем <br> <b> до 10% в сутки! </b>")
        +ProtectCard("../assets/images/protected.png", "Средства в безопасности", "Ваши средства будут на вашем личном счёте, мы не имеем к ним доступа и ни при каких обстоятельствах не будем просить ваши данные")
        +ProtectCard("../assets/images/workRelax.png", "Работаем пока вы отдыхаете", "Данная платформа работает, пока вы занимаетесь своим любимым делом. Всё, что необходимо от вас - вывести заработанные средства, когда вам будет удобно")

mixin ProtectCard(img, title, descr)
    .protect_card
        img(src= img, alt="")
        p.title= title
        p!= descr