mixin WhatIs()
    section.whatis 
        .description 
            p.title Что такое Brain Technology
            p Это нейронная сеть, способная вычислять движения рынка ценных бумаг по определенённым алгоритмам, открывая заведомо удачные сделки с минимальными рисками. Это не один из роботов, которые не выдержали февраль и март 2020 года, а полноценный инструмент, который регулярно дорабатывается, с окупаемостью ~30 дней.
        .image 
            img(src="../assets/images/whatIs.png", alt="")