body
{
    margin: 0;
    color: #000;
    background: #fff;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.btn_green{
    border-radius: 20px;
    color: white;
    background-color: #77c344;
    border: none;
    padding: 15px 30px 15px 30px;
    font-size: 14px;
}

section.banner{
    background-color: #3a95d4;
    color: white;
    padding-bottom: 100px;

    .tool{
        font-weight: bold;
        font-size: 30px;
    }

    .together{
        font-size: 19px;
        img{
            margin-left: 15px;
            margin-right: 15px;
            vertical-align: middle;
        }

        .roboForex{
            margin-top: -10px;
        }
    }

    .dohod{
        font-weight: bold;
        font-size: 50px;
        margin: 0;

        span{
            color: #fbcf04;
        }
    }

    .vivod{
        font-size: 30px;
        margin: 0;
    }

    .podrobnee{
        margin-top: 50px;
    }

    .iphone, .clouds{
        display: block;
        position: absolute;
        right: 500px;
        top: 36px;
    }

    .iphone{
        height: 50%;
        width: auto;
    }

    .clouds{
        height: 30%;
        width: auto;
        top: 215px;
    }
}

header{
    .logo{
        img{
            margin-top: 16.5px;
        }
    }

    .btn_green{
        float: right;
        margin-top: 16.5px;
    }
}

.whatis{
    padding-top: 50px;

    .description{
        display: inline-block;
        width: 50%;
        margin-top: 100px;
        padding-right: 150px;
    
        p{
            font-size: 16px;
        }
    
        .title{
            font-size: 26px;
            font-weight: bold;
        }
    }

    .image{
        width: 50%;
        float: right;
    }
}

.protection{
    margin-top: 150px;
    text-align: center;

    .title{
        font-size: 26px;
        font-weight: bold;
    }

    .protect_card{
        width: 30%;
        display: inline-block;
        margin-top: 50px;
        height: 300px;
        vertical-align: top;

        img{
            height: 80px;
            width: auto;
        }

        p{
            font-size: 16px;

            .boldText{
                font-weight: bold;
            }

            padding-right: 50px;
            padding-left: 50px;
        }

        .title{
            font-size: 18px;
            font-weight: bold;
        }
    }
}

@import 'responce';